<!DOCTYPE html>
<html>
<head>
    <title>Add Payment Card</title>
</head>
<body>
    <h1>Add Payment Card</h1>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        Card Number: <input type="text" name="card_number"><br>
        Expiry Date (MM/YY): <input type="text" name="expiry_date"><br>
        Cardholder Name: <input type="text" name="cardholder_name"><br>
        CVV: <input type="text" name="cvv"><br>
        Billing Zip Code: <input type="text" name="billing_zip"><br>
        <input type="submit" value="Add Card">
    </form>
</body>
</html>