<!DOCTYPE html>
<html>
<head>
    <title>E-commerce Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to our Store</h1>
        <ul>
            {% for product in products %}
            <li>{{ product.name }} - ${{ product.price }} <a href="#">View Details</a></li>
            {% endfor %}
        </ul>
        <hr>
        <p><a href="{{ url_for('admin_dashboard') }}">Admin Area</a></p>
    </div>
</body>
</html>